Repository Flybik/Lost-Paradise, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменения: Звуки, Изменения: C#, Изменения: Конфиг, Изменения: Документация, Изменения: Локализация, Изменения: Карта, Изменения: Спрайт, Изменения: Интерфейс, Изменения: Github, СВЯТЫЕ УГОДНИКИ

фикс меты
  Resources/Textures/_LostParadise/Structures/Storage/closet.rsi/meta.json
Labels: Изменения: Спрайт

фикс 13
  Resources/Locale/en-US/_LostParadise/accent/goblin_accent.ftl
  Resources/Locale/en-US/_LostParadise/advertisements/mobchatter/mimehostilehumanoidmob.ftl
  Resources/Locale/en-US/_LostParadise/advertisements/mobchatter/syndicatehumanoidmob.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/markers/spawners/random/possessed_toilet.ftl
  Resources/Locale/ru-RU/_LostParadise/advertisements/mobchatter/mimehostilehumanoidmob.ftl
  Resources/Locale/ru-RU/_LostParadise/advertisements/mobchatter/syndicatehumanoidmob.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/markers/spawners/random/possessed_toilet.ftl
  Resources/Maps/_LostParadise/Dungeon/cave_factory.yml
  Resources/Maps/_LostParadise/Dungeon/experiment.yml
  Resources/Maps/_LostParadise/Dungeon/haunted.yml
  Resources/Maps/_LostParadise/Dungeon/lava_brig.yml
  Resources/Maps/_LostParadise/Dungeon/lava_mercenary.yml
  Resources/Maps/_LostParadise/Dungeon/salvage_outpost.yml
  Resources/Maps/_LostParadise/Dungeon/snowy_labs.yml
  Resources/Maps/_LostParadise/Dungeon/virology_lab.yml
  Resources/Prototypes/_LostParadise/Accents/word_replacements.yml
  Resources/Prototypes/_LostParadise/Body/Organs/synthetic_organs.yml
  Resources/Prototypes/_LostParadise/Body/Prototypes/human_synthetic_organs.yml
  Resources/Prototypes/_LostParadise/Catalog/NPCsChatter/mimehumanoidmob.yml
  Resources/Prototypes/_LostParadise/Catalog/NPCsChatter/syndicatehumanoidmob.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Head/hardsuit-helmet.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/possessed_toilet.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Projectile/chem.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Projectile/pistol.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Throwable/throwable_weapons.yml
  Resources/Prototypes/_LostParadise/ai_factions.yml
Labels: Изменения: Локализация, Изменения: Карта

мелкий фикс
  Resources/Prototypes/_LostParadise/Entities/Clothing/Head/hardsuit-helmet.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Projectile/pistol.yml
  Resources/Prototypes/_LostParadise/ai_factions.yml
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/emp_projectile.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/meta.json
Labels: Изменения: Спрайт

фиксы 14
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/markers/spawners/random/dungeon_items_weapons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/markers/spawners/random/dungeon_items_weapons.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/_LostParadise/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/_LostParadise/Recipes/Construction/Graphs/weapons/improvised_bolt.yml
  Resources/Prototypes/_LostParadise/ai_factions.yml
  Resources/Prototypes/_LostParadise/explosion.yml
Labels: Изменения: Локализация

фикс 15
  Resources/Locale/en-US/_LostParadise/accent/streetpunk_accent.ftl
  Resources/Prototypes/_LostParadise/Catalog/Fills/Backpacks/npc_loot_silicons.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/mob_hostile_punkganger.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Hostile/rogue_silicons.yml
  Resources/Textures/_LostParadise/Objects/Tools/bundles.rsi/engi-base.png
  Resources/Textures/_LostParadise/Objects/Tools/bundles.rsi/engi-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Tools/bundles.rsi/engi-inhand-right.png
  Resources/Textures/_LostParadise/Objects/Tools/bundles.rsi/mask_null.png
  Resources/Textures/_LostParadise/Objects/Tools/bundles.rsi/meta.json
Labels: Изменения: Локализация, Изменения: Спрайт

фикс 16
  Resources/Prototypes/_LostParadise/Catalog/Fills/Backpacks/npc_loot_silicons.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Belt/belts_crossbow_quiver.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/bloodcult_inhand_weapons.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/mobs_hostile_aberrant_flesh.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/mobs_hostile_argocyte.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/mobs_hostile_explorers.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/mobs_hostile_mercenaries.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/mobs_hostile_silicons.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Melee/wooden_stake.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Hostile/syndicate_naval_forces.yml
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/charge-level-unshaded-0.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/charge-level-unshaded-1.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/charge-level-unshaded-2.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/charge-level-unshaded-3.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/charge-level-unshaded-4.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/charge-level-unshaded-5.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/equipped-back.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/equipped-unshaded.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/icon-base.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/inhand-left-unshaded.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/inhand-right-unshaded.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/turbo_laser.rsi/meta.json
Labels: Изменения: Спрайт

фикс 17
  Resources/Locale/en-US/_LostParadise/advertisements/mobchatter/wizardhumanoidmob.ftl
  Resources/Locale/ru-RU/_LostParadise/advertisements/mobchatter/wizardhumanoidmob.ftl
  Resources/Prototypes/_LostParadise/Body/Organs/synthetic_organs.yml
  Resources/Prototypes/_LostParadise/Catalog/NPCsChatter/wizardhumanoidmob.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Conditional/mobs_hostile_rogue_ai.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Hostile/explorers.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Hostile/wizard_federation_mages.yml
Labels: Изменения: Локализация

фикс 18
  Resources/Prototypes/_LostParadise/Entities/Clothing/Head/headwear_punks.yml
  Resources/Prototypes/_LostParadise/Entities/Materials/ore.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Walls/asteroid.yml
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat_blue.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat_blue.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat_blue.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat_green.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat_green.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat_green.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat_magenta.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat_magenta.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Head/Hoods/Coat/acid_raincoat_magenta.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Materials/ore.rsi/bluespace.png
  Resources/Textures/_LostParadise/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Materials/ore.rsi/scrapore.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/rock_bluespace.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/rock_scrap.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock01.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock02.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock03.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock04.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock05.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock06.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock07.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock_east.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock_north.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock_south.png
  Resources/Textures/_LostParadise/Structures/Walls/rock.rsi/scraprock_west.png
Labels: Изменения: Спрайт

фикс 21
  Resources/Prototypes/_LostParadise/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Box/pistol.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/emp.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Storage/Crates/secure_ammo.rsi/base.png
  Resources/Textures/_LostParadise/Structures/Storage/Crates/secure_ammo.rsi/closed.png
  Resources/Textures/_LostParadise/Structures/Storage/Crates/secure_ammo.rsi/icon.png
  Resources/Textures/_LostParadise/Structures/Storage/Crates/secure_ammo.rsi/locked.png
  Resources/Textures/_LostParadise/Structures/Storage/Crates/secure_ammo.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Storage/Crates/secure_ammo.rsi/open.png
  Resources/Textures/_LostParadise/Structures/Storage/Crates/secure_ammo.rsi/sparks.png
  Resources/Textures/_LostParadise/Structures/Storage/Crates/secure_ammo.rsi/unlocked.png
  Resources/Textures/_LostParadise/Structures/Storage/Crates/secure_ammo.rsi/welded.png
Labels: Изменения: Спрайт

фикс 22
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/markers/spawners/random/salvage/spawners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/markers/spawners/random/salvage/spawners.ftl
  Resources/Prototypes/_LostParadise/Catalog/Fills/Backpacks/npc_loot_explorers.yml
  Resources/Prototypes/_LostParadise/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_LostParadise/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Specific/Engineering/construction_bag.yml
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/equipped-BELT-bluespace-overlay-unshaded.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/equipped-BELT-bluespace-overlay.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/equipped-BELT.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/icon-bluespace-overlay-unshaded.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/icon-bluespace-overlay.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/icon.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/inhand-left-bluespace-overlay-unshaded.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/inhand-left-bluespace-overlay.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/inhand-right-bluespace-overlay-unshaded.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/inhand-right-bluespace-overlay.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Objects/Specific/Engineering/construction_bag.rsi/meta.json
Labels: Изменения: Локализация, Изменения: Спрайт

fix RSI
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Box/pistol.yml
Labels: none

фикс ентитиТэйбл один+ребаланс скорости стрельбы НПС
  Resources/Prototypes/_LostParadise/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/spawners.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/mob_hostile_expeditions_aberrant_flesh.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
Labels: none

мелкий фикс
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/Salvage/spawners.yml
Labels: none

фикс тэйблов 2
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/spawners.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Misc/treasure.yml
Labels: none

фикс тэйблов 3
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/spawners.yml
Labels: none

мелкий фикс
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/Salvage/spawners.yml
Labels: none

палитры
  Resources/Prototypes/_LostParadise/Palettes/cyberpunk.yml
Labels: none

фикс 23
  Content.Shared/_LostParadise/Containers/WeaponCaseInsertable.cs
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Bombs/pipebomb.yml
Labels: Изменения: C#

фикс для карт
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_general.yml
Labels: none

фикс 24
  Resources/Maps/_LostParadise/Dungeon/salvage_outpost.yml
Labels: Изменения: Карта

фикс платы консоли
  Resources/Prototypes/_LostParadise/Entities/Structures/Machines/Computers/computers.yml
Labels: none

фикс карты
  Resources/Prototypes/_LostParadise/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
Labels: none

exp range AI fix
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
Labels: none

попытка фикса конфликтов
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Resources/Locale/ru-RU/escape-menu/ui/escape-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/_LostParadise/tags.yml
  Resources/Prototypes/tags.yml
Labels: Изменения: C#, Изменения: Локализация

фикс?
  Resources/Prototypes/_LostParadise/tags.yml
Labels: none

фиксы
  Content.Server/_LostParadise/Salvage/LPSalvageSystem.ExpeditionConsole.cs
  Content.Shared/_LostParadise/Interaction/Components/ComplexInteractionComponent.cs
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/bombs/pipebomb.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/bombs/pipebomb.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/glimmer_creatures.ftl
  Resources/Prototypes/_LostParadise/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/_LostParadise/Objects/Weapons/Bombs/pipebomb.rsi/base.png
  Resources/Textures/_LostParadise/Objects/Weapons/Bombs/pipebomb.rsi/icon.png
  Resources/Textures/_LostParadise/Objects/Weapons/Bombs/pipebomb.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Weapons/Bombs/pipebomb.rsi/primed.png
  Resources/Textures/_LostParadise/Objects/Weapons/Bombs/pipebomb.rsi/wires.png
Labels: Изменения: C#, Изменения: Локализация, Изменения: Спрайт

.github/labeler.yml:

"Изменения: Звуки":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

"Изменения: C#":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

"Изменения: Конфиг":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

"Изменения: Документация":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

"Изменения: Локализация":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

"Изменения: Карта":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

"Изменения: Спрайт":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

"Изменения: Интерфейс":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

"Изменения: YML":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

"Изменения: Github":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

"СВЯТЫЕ УГОДНИКИ":
  - changed-files:
    - any-glob-to-any-file: "Content.Server.Database/*"
